
#calc{
    width: 300px;
    height: 500px;
    box-shadow: 3px 13px 23px black;
    background-color: beige;
    margin: 0 auto;
    border-radius:3px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: relative;
}

#form{
    height: 95%;
    width: 90%;
    background-color:rgb(113, 148, 148); 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8%;
    
}

.form-bloc{
    width: 100%;
    display: flex;
    margin: 5px auto;
    justify-content: space-between;
    padding: 1% 4%;
   
}

.form-bloc label{
    color: white;
}

.form-bloc input{
    display: flex;
   
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 5px;
}

hr{
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
}

ul{
    list-style: none;
    transform: translateY(15px);
}

li{
    margin-bottom: 5px;
    position: relative;
    transform: translateX(-30px);
}

span{
    font-weight: 700;
    position: absolute;
    right: -60px;
    top: 0;
}

#button{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: rgb(43, 204, 64);
    margin: 0 auto;
    text-transform: uppercase;
    margin-top: 30px;
    cursor: pointer;
    box-shadow:  0px 48px 100px 0px rgba(17, 12, 46, 0.15);
}

#button:hover,
#button:active{
    background-color:rgb(101, 235, 119);
}

.underweight{
    background-color: rgb(113, 113, 241);
    padding: 3px 7px;
    padding-right: 10px;
}

.normal{
    background-color:rgb(45, 180, 63);
    padding: 3px 7px;
    transition: opacity 1s;
}

.overweight{
    background-color:rgb(235, 171, 75);
    padding: 3px 7px;
}

.obese{
    background-color:rgb(207, 127, 7);
    padding: 3px 7px;
}

.x-obese{
    background-color:rgb(221, 47, 16);
    padding: 3px 7px;
    padding-right: 25px;
}